  /** responsive */
/* vista tablet */

@media (max-width:1023px) {

    /* Header*/

    .encabezado {
    height: auto;
    flex-direction: column;
    text-align: center;
    }
   }
.encabezado .boton {
   display: none;
}
/* Banner*/

.bannerContenido p {
   font-size: 2.5 rem;

}

/*Productos*/
.productos {
margin: 5vh;
font-size: 2rem; 
}

.productos h3,
.productos p {
   font-size: inherit;
}

.contenedorProductos {
grid-template-columns: 1fr 1fr;
}


/*Footer*/

.footerContenido {
flex-direction: column;
text-align: center;
}

/*Contacto*/
.formContacto {
   width: 80vw; 
}

/* Ajustes específicos para la vista móvil*/
/*0 hasta 768px*/

@media(max-width: 768px) {

/*Productos*/
.contenedorProductos {
   grid-template-columns: 1fr;
}

/*Testimonios*/

.testimonial {
   padding: 30px;
}
.testimonial-content {
   margin-top: 20px;
   flex-direction: column;
}
.testimonial-1 {
   padding: 25px;
   margin-bottom: 25px;
}

/*Footer*/
.footer {
   padding: 30px;
}
 
.footerContenido{
   flex-direction: column;
   text-align: center;
}

}

/************/
