.footer {
    background-color: #212121;
    color: #fff;
    padding: 30px;
    text-align: center;
}

.footer h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.infoContacto p,
.redesSociales a { 
    margin: 5px 0;
    font-size: 1.2rem;
    text-align: center;
}

.redesSociales a {
    text-align: center;
    color: #7ab730;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.5rem;

    .redesSociales a:hover {
        color: #28a745;
    }
}

.footer i {
    margin-right: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;

}

.footerContenido {
    text-align: center;
  }
  
  /* Ajustes específicos para la vista móvil*/
  /*0 hasta 768px*/
  
  @media (max-width: 768px) {

    
  }
  
  /************/
  