/*Testimonios*/
.testimonial {
    padding: 100px 0;
    text-align: center;
}

  
  .testimonial-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .testimonial-1 {
    flex-basis: calc(50% px);
    padding: 50px;
    text-align: left;
    background-color: #ffffff;
    border-top: 5px solid #9BCE21;
  }
  
  .testimonial-1 img {
    width: 100px;
  }
  
  .testimonial-1 p {
    color: #515557 ;
    margin-bottom: 25px;
  }
  
  


  



  